<div class="container">
    <div class="row">
      <img class="center-block europa" src="./assets/img/europa2.jpg" usemap="#mapeuropa">
      <map id="mapeuropa" name="mapeuropa">
      	<area id="spain" shape="poly" alt="Spain" title="Spain" 
      		coords="52,355,52,338,71,341,113,359,140,376,171,389,156,398,135,401,125,418,128,429,113,439,97,449,79,443,64,441,60,446,54,442,54,430,42,421,51,411,54,400,54,389,58,393,74,371,71,363,55,357" 
      		ng-click="goToAdverts($event)" target="_self" />
      	<area id="spain-2" shape="rect" alt="Spain" title="Spain" coords="140,426,146,435" 
      		ng-click="goToAdverts($event)" target="_self" />
      </map>
      </map>
    </div>
  </div>