<div class="container">
    <div class="row">
		<button type="button" id="btn-form-advert" class="btn btn-success" data-toggle="modal" data-target="#new-advert" ng-click="newAdvert()">
			<span class="fa fa-plus"></span>
		</button>
	    <br/>
	    <br/>
		<table id="mytable" class="table table-bordred table-striped">
		    <thead>
		        <th>#</th>
		        <th>Title</th>
		        <th>Price</th>
		        <th>Address</th>
		        <th>Town</th>
		        <th>Region</th>
		        <th>Country</th>
		        <th>Edit</th>
		        <th>Delete</th>
		    </thead>
		    <tbody>
		        <tr ng-repeat="item in dataAdvert | orderBy:'-updatedAt'">
		            <td>{{ $index+1 }}</td>
		            <td>{{ item.title }}</td>
		            <td>{{ item.price }}€</td>
		            <td>{{ item.address }}</td>
		            <td>{{ item.town }}</td>
		            <td>{{ item.region }}</td>
		            <td>{{ item.country }}</td>
		            <td>
		            	<p title="Edit">
		            		<button class="btn btn-primary btn" data-target="#edit-advert" data-toggle="modal" ng-click="editAdvert(item.objectId)">
		            			<span class="fa fa-pencil"></span>
		            		</button>
		            	</p>
		            </td>
					<td>
						<p title="Delete">
							<button class="btn btn-danger btn" ng-click="deleteAdvert(item.objectId)">
								<span class="fa fa-trash"></span>
							</button>
						</p>
					</td>
		        </tr>
		    </tbody>
		</table>
    </div>
</div>
<!-- Modal New Advert-->
<div class="modal fade" id="new-advert" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Advert</h4>
      </div>
      <div class="modal-body">
        <form class="form-advert" ng-submit="postAdvert()">
        	Advert's user:
			<select class="form-control" id="select-user" ng-model="User" ng-options="user.name for user in users track by user.objectId">
				<option value="">-- Choose user --</option>
			</select>
			<a href="http://localhost:8080/#/users">Insert new User</a>
			<hr/>

			<input type="text" ng-model="TitleAdvert" class="form-control" placeholder="Title" maxlength="30" autofocus >
			<br/>
			
			<textarea class="form-control" ng-model="ContentAdvert" rows="2" placeholder="Advert" maxlength="100"></textarea>
			<br/>
			
			<input type="number" ng-model="PriceAdvert" class="form-control" placeholder="Price" maxlength="5">
			<br/>
			
			<h4>Rules:</h4>
			<label class="checkbox-inline">
			  <input type="checkbox" ng-model="Rules.value1" ng-init="Rules.value1=false">Please keep our home secure and double-lock the front door when entering and leaving the house.
			</label>
			<br/>
			<label class="checkbox-inline">
			  <input type="checkbox" ng-model="Rules.value2">You are welcome to use the kitchen but please clean up after yourself.
			</label>
			<br/>
			<label class="checkbox-inline">
			  <input type="checkbox" ng-model="Rules.value3">Smoking is allowed outdoors only.
			</label>
			<br/>
			<label class="checkbox-inline">
			  <input type="checkbox" ng-model="Rules.value4">Please do not invite strangers into my home.
			</label>
			<br/>
			<label class="checkbox-inline">
			  <input type="checkbox" ng-model="Rules.value5">No smoking in doors.
			</label>
			<br/>
			<label class="checkbox-inline">
			  <input type="checkbox" ng-model="Rules.value6">No loud music after hours.
			</label>
			<br/>
			<label class="checkbox-inline">
			  <input type="checkbox" ng-model="Rules.value7">Must like pets.
			</label>
			<br/>
			<br/>

			<h4>House Facilities:</h4>
			<label class="checkbox-inline">
			  <input type="checkbox" ng-model="Facilities.value1" ng-init="Facilities.value1=false">Barbecue.
			</label>
			<label class="checkbox-inline">
			  <input type="checkbox" ng-model="Facilities.value2">Internet.
			</label>
			<label class="checkbox-inline">
			  <input type="checkbox" ng-model="Facilities.value3">TV.
			</label>
			<br/>
			<label class="checkbox-inline">
			  <input type="checkbox" ng-model="Facilities.value4">Computer.
			</label>
			<label class="checkbox-inline">
			  <input type="checkbox" ng-model="Facilities.value5">Laundry.
			</label>
			<label class="checkbox-inline">
			  <input type="checkbox" ng-model="Facilities.value6">Bikes.
			</label>
			<br/>
			<br/>

			<input type="text" ng-model="Address" class="form-control" placeholder="Address">
			<br/>
			<input type="text" ng-model="Town" class="form-control" placeholder="Town">
			<br/>
			<input type="text" ng-model="Region" class="form-control" placeholder="Region">
			<br/>
			<input type="text" ng-model="Country" class="form-control" placeholder="Country">
			<br/>
			Select images: 
			<br/>
			<input id="uploadImage" type="file" name="myPhoto" onchange="angular.element(this).scope().uploadImage()" multiple/>
			<br/>

			<div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="submit" class="btn btn-primary">Save changes</button>
		        <input type="reset" id="reset-form-new" value="Reset!" hidden>
		    </div>

		</form>
      </div>
    </div>
  </div>
</div>
<!--End Modal New Advert-->

<!-- Modal Edit Advert-->
<div class="modal fade" id="edit-advert" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Advert</h4>
      </div>
      <div class="modal-body">
        <form class="form-advert" ng-submit="putAdvert()">
        	Advert's user:
			<select class="form-control" id="edit-user" ng-model="User" ng-options="user.name for user in users track by user.objectId">
				<option value="">-- Choose user --</option>
			</select>
			<hr/>

			<input type="text" ng-model="TitleAdvert" class="form-control" placeholder="Title" maxlength="30" autofocus >
			<br/>
			
			<textarea class="form-control" ng-model="ContentAdvert" rows="2" placeholder="Advert" maxlength="100"></textarea>
			<br/>
			
			<input type="number" ng-model="PriceAdvert" class="form-control" placeholder="Price" maxlength="5">
			<br/>
			
			<h4>Rules:</h4>
			<label class="checkbox-inline">
			  <input type="checkbox" ng-model="Rules.value1">Please keep our home secure and double-lock the front door when entering and leaving the house.
			</label>
			<br/>
			<label class="checkbox-inline">
			  <input type="checkbox" ng-model="Rules.value2">You are welcome to use the kitchen but please clean up after yourself.
			</label>
			<br/>
			<label class="checkbox-inline">
			  <input type="checkbox" ng-model="Rules.value3">Smoking is allowed outdoors only.
			</label>
			<br/>
			<label class="checkbox-inline">
			  <input type="checkbox" ng-model="Rules.value4">Please do not invite strangers into my home.
			</label>
			<br/>
			<label class="checkbox-inline">
			  <input type="checkbox" ng-model="Rules.value5">No smoking in doors.
			</label>
			<br/>
			<label class="checkbox-inline">
			  <input type="checkbox" ng-model="Rules.value6">No loud music after hours.
			</label>
			<br/>
			<label class="checkbox-inline">
			  <input type="checkbox" ng-model="Rules.value7">Must like pets.
			</label>
			<br/>
			<br/>

			<h4>House Facilities:</h4>
			<label class="checkbox-inline">
			  <input type="checkbox" ng-model="Facilities.value1">Barbecue.
			</label>
			<label class="checkbox-inline">
			  <input type="checkbox" ng-model="Facilities.value2">Internet.
			</label>
			<label class="checkbox-inline">
			  <input type="checkbox" ng-model="Facilities.value3">TV.
			</label>
			<br/>
			<label class="checkbox-inline">
			  <input type="checkbox" ng-model="Facilities.value4">Computer.
			</label>
			<label class="checkbox-inline">
			  <input type="checkbox" ng-model="Facilities.value5">Laundry.
			</label>
			<label class="checkbox-inline">
			  <input type="checkbox" ng-model="Facilities.value6">Bikes.
			</label>
			<br/>
			<br/>

			<input type="text" ng-model="Address" class="form-control" placeholder="Address">
			<br/>
			<input type="text" ng-model="Town" class="form-control" placeholder="Town">
			<br/>
			<input type="text" ng-model="Region" class="form-control" placeholder="Region">
			<br/>
			<input type="text" ng-model="Country" class="form-control" placeholder="Country">
			
			<br/>
			<div class="uploadPreview edit">
			</div>
			

			<div class="modal-footer">
		        <button type="button" class="btn btn-default exit-edit" data-dismiss="modal">Close</button>
		        <button type="submit" class="btn btn-primary">Save changes</button>
		        <input type="reset" id="reset-form-edit" value="Reset!" hidden>
		    </div>
		</form>
      </div>
    </div>
  </div>
</div>