<div class="container">
    <div class="row">
    	<table id="mytable" class="table table-bordred table-striped">
	        <thead>
                <th>#</th>
                <th>Title</th>
                <th>Price</th>
                <th>Address</th>
                <th>Town</th>
                <th>Region</th>
                <th>Country</th>
                <th>Edit</th>
                <th>Delete</th>
	        </thead>
	        <tbody>
	            <tr ng-repeat="item in dataAdvert">
	                <td>{{ $index+1 }}</td>
	                <td>{{ item.title }}</td>
	                <td>{{ item.price }}</td>
	                <td>{{ item.address }}</td>
	                <td>{{ item.town }}</td>
	                <td>{{ item.region }}</td>
	                <td>{{ item.country }}</td>
	                <td>
	                	<p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button>
	                	</p>
	                </td>
					<td>
						<p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button>
						</p>
					</td>
	            </tr>
	        </tbody>
	    </table>
    </div>
</div>