/*** General CSS ***/
.table th:last-child{
	padding: 0 18px;
}

.btn-no-action.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*homeView.html*/
.btn-home{
	width: 300px;
	height: 300px;
	font-size: 40px;
	font-family: Tahoma;
	margin: 0 7% 0 7%;
}

.btn-home-box{
	text-align: center;
	margin-top: 10%;
}

.btn-home-opposite{
	color: #337ab7 !important;
}

.btn-home-opposite:hover{
	color: #286090 !important;
}
/*index.html*/
body {
	background-color: #eee;
	padding-top: 70px;
}
/*loginView.html*/
.screen-30 {
	width : 30%;
	margin: 0 auto;
}
/*loginView.html and (Deposit)search.html and (Mortgage)search.html*/
.form-group .help-block {
  display: none;
}

.form-group.has-error .help-block {
  display: block;
}

.form-group label {
	display: block;
}
/*depositComparisonController.js and mortgageComparisonController.js*/
.comparison-visibility{
	display : none;
}
/*depositComparisonView.html and mortgageComparisonView.html*/
.panel-check{
	height : 50px;
}

.label-check-comparison{
	line-height : 50px;
	margin-left : 5%;
}
/*no-result.html*/
.no-result{
	text-align:center;
}

.no-result i{
	color : #2979ff;
}
/*(Deposit)details.html and (Mortgage)details.html*/
.bolder{
	font-weight : 700;
}
/*** Start Mortgage ***/
/*** Mortgage.Search ***/
/*search.html*/
.btn-search{
	text-align: right;
	padding: 0px;
}
/*** Mortgage.Result ***/
/*** Mortgage.Comparison ***/
/*** End Mortgage ***/
/*** Start Deposit ***/
/*** Deposit.Search ***/
/*** Deposit.Result ***/
/*** Deposit.Comparison ***/
/*** End Deposit ***/
