body{
	background-color: #F8F7F5;
}

.container{
	padding-top: 60px;
}

.form-advert{
	margin: 0 auto;
	max-width: 500px;
	min-width: 200px;
}

.form-user{
	margin: 0 auto;
	max-width: 500px;
	min-width: 200px;
}

.photo-edit{
	width: 100px; 
	height: 100px;
	padding: 5px;
}
