<div class="container">
  <div class="row">
    <div class="text-center panel panel-default panel-check">
      <label for="{{item.mortgageId.productId}}" class="label-check-comparison"
             ng-repeat="item in compareResults.rows">
             <input id="{{item.mortgageId.productId}}"
                    ng-model="checked" ng-init="checked='true'"
                    ng-true-value="true" ng-false-value="false"
                    type="checkbox"
                    ng-change="showHideProduct(item.mortgageId.productId);">
      {{item.mortgageName | limitTo : 10}}...
      </label>
    </div>
    <div>
      <ul class="nav nav-tabs pull-right">
        <li ng-click=""><a href><span class="fa fa-arrow-left"></span></a></li>
        <li class="btn-no-action" ng-click="mortgageCompareToPDF()"><a href><span class="fa fa-file-pdf-o"></span></a></li>
        <li class="btn-no-action" ng-click="mortgageCompareToCSV()"><a href><span class="fa fa-file-excel-o"></span></a></li>
      </ul>
    </div>
      <form id="form-hidden-mortgage-comparison" action="" method="POST">
      </form>
    </div>
  <div class="row">
    <div class="panel panel-default">
      <table class="table table-responsive table-hover">
        <thead>
          <tr class="active">
            <th>Mortgage Name</th>
            <th class="head-{{item.mortgageId.productId}}"
                ng-repeat="item in compareResults.rows">{{item.mortgageName}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(key, value) in compareResults.headers">
            <td class="active">{{value}}</td>
            <td class="cell-{{v.mortgageId.productId}}"
                ng-repeat="(k, v) in compareResults.rows">{{valueResults[k][key]}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
