<div class="container">
  <div class="row">
    <div class="text-center panel panel-default panel-check">
      <label for="{{item.accountId}}" class="label-check-comparison"
             ng-repeat="item in temp.rows">
             <input id="{{item.accountId}}"
                    ng-model="checked" ng-init="checked='true'"
                    ng-true-value="true" ng-false-value="false"
                    type="checkbox"
                    ng-click="updateIdsChecked(item.accountId)" >
      {{item.accountName | limitTo : 10}}...
      </label>
    </div>
    <div>
      <ul class="nav nav-tabs pull-right">
        <li><a href><span class="fa fa-arrow-left"></span></a></li>
        <li class="btn-no-action" ng-click="depositCompareToPDF()"><a href><span class="fa fa-file-pdf-o"></span></a></li>
        <li class="btn-no-action" ng-click="depositCompareToCSV()"><a href><span class="fa fa-file-excel-o"></span></a></li>
      </ul>
    </div>
    <form id="form-hidden-deposit-comparison" action="" method="POST">
    </form>
  </div>
  <div class="row">
    <div class="panel panel-default">
      <table class="table table-responsive table-hover">
        <thead>
          <tr class="active">
            <th>Account Name</th>
            <th class="head-{{item.accountId}}"
                ng-repeat="item in temp.rows">{{item.accountName}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(key, value) in temp.headers">
            <td class="active">{{value}}</td>
            <td class="cell-{{v.accountId}}"
                ng-repeat="(k, v) in temp.rows">{{valueResults[k][key]}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
