<div class="container">
  <div class="custom-alert hide">
    <div class="alert alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <span id="text-info"></span>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 panel panel-default">
      <div class="page-header">
        <h1 ng-if="details.deposit.name != null"><small>Details of </small> {{details.deposit.name}}</h1>
        <h1 ng-if="details.deposit.name == null ||
                    details.deposit.name === ''"><small>No Results</small></h1>
      </div>
      <ul class="nav nav-tabs pull-right">
        <li><a href><span class="fa fa-arrow-left"></span></a></li>
        <li ng-click="exportDetailsToPDF()"><a href><span class="fa fa-file-pdf-o"></span></a></li>
      </ul>
    </div>
    <form id="form-hidden-deposit-details" action="" method="POST">
    </form>

  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">General Information</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
           <li class="list-group-item">Account Provider
             <span ng-if="details.institute.name != null" class="pull-right bolder"> {{details.institute.name}}</span>
             <span ng-if="details.institute.name == null ||
             details.institute.name === ''" class="pull-right bolder">N/A</span>
           </li>
           <li class="list-group-item">Account Type
             <span ng-if="details.accountType.name != null" class="pull-right bolder"> {{details.accountType.name}}</span>
             <span ng-if="details.accountType.name == null ||
             details.accountType.name === ''" class="pull-right bolder"> N/A </span>
           </li>
           <li class="list-group-item">Rate Type
             <span ng-if="details.rateType.name != null" class="pull-right bolder"> {{details.rateType.name}}</span>
             <span ng-if="details.rateType.name == null ||
             details.rateType.name === ''" class="pull-right bolder"> N/A </span>
             </li>
           <li class="list-group-item">Term
             <span ng-if="details.term.name != null" class="pull-right bolder"> {{details.term.name}}</span>
             <span ng-if="details.term.name == null ||
             details.term.name === ''" class="pull-right bolder"> N/A </span>
           </li>
           <li class="list-group-item">Notice Period
             <span ng-if="details.depositDetail.noticePeriod != null" class="pull-right bolder"> {{details.depositDetail.noticePeriod}}</span>
             <span ng-if="details.depositDetail.noticePeriod == null ||
             details.depositDetail.noticePeriod === ''" class="pull-right bolder">N/A</span>
           </li>
           <li class="list-group-item">Min. Investment Amount
             <span ng-if="details.depositDetail.minimumInvestmentAmount != null && details.depositDetail.minimumInvestmentAmount != 0" class="pull-right bolder"> {{details.depositDetail.minimumInvestmentAmount}}€</span>
             <span ng-if="details.depositDetail.minimumInvestmentAmount != null && details.depositDetail.minimumInvestmentAmount == 0" class="pull-right bolder"> No minimum</span>
             <span ng-if="details.depositDetail.minimumInvestmentAmount == null ||
             details.detailText.trackerIndexRate === ''" class="pull-right bolder">N/A</span>
           </li>
           <li class="list-group-item">Max. Investment Amount
             <span ng-if="details.depositDetail.maximumInvestmentAmount != null && details.depositDetail.maximumInvestmentAmount != 0" class="pull-right bolder"> {{details.depositDetail.maximumInvestmentAmount}}€</span>
             <span ng-if="details.depositDetail.maximumInvestmentAmount != null && details.depositDetail.maximumInvestmentAmount == 0" class="pull-right bolder"> No maximum</span>
             <span ng-if="details.depositDetail.maximumInvestmentAmount == null ||
             details.depositDetail.maximumInvestmentAmount === ''" class="pull-right bolder"> N/A </span>
           </li>
         </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Interest Rate Information</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
           <li class="list-group-item">Gross Rate
             <span ng-if="details.deposit.rate != null" class="pull-right bolder"> {{details.deposit.rate}}%</span>
             <span ng-if="details.deposit.rate == null || details.deposit.rate ===''" class="pull-right bolder"> N/A </span>
           </li>
           <li class="list-group-item">Net Rate (TODO - Calculate)
             <!--<span ng-if="details.dateOfEcbRate != null" class="pull-right bolder"> {{details.dateOfEcbRate}}</span>
             <span ng-if="details.dateOfEcbRate == null || details.dateOfEcbRate === ''"
             class="pull-right bolder"> N/A </span>-->
           </li>
           <li class="list-group-item">AER
             <span ng-if="details.depositDetail.aer != null" class="pull-right bolder"> {{details.depositDetail.aer}}%</span>
             <span ng-if="details.depositDetail.aer == null || details.depositDetail.aer === ''"
             class="pull-right bolder"> N/A </span>
           </li>
           <li class="list-group-item">Date of Rate
             <span ng-if="details.deposit.dateOfRate != null" class="pull-right bolder"> {{details.deposit.dateOfRate | date:"MM/dd/yyyy"}}</span>
             <span ng-if="details.deposit.dateOfRate == null || details.deposit.dateOfRate === ''"
             class="pull-right bolder"> N/A </span>
           </li>
           <li class="list-group-item">DIRT Rate (TODO - Calculate)
             <!--<span ng-if="details.dateOfEcbRate != null" class="pull-right bolder"> {{details.dateOfEcbRate}}</span>
             <span ng-if="details.dateOfEcbRate == null || details.dateOfEcbRate === ''"
             class="pull-right bolder"> N/A </span>-->
           </li>
           <li class="list-group-item">Interest Payment Dates
             <span ng-if="details.depositDetail.interestPayDates != null" class="pull-right bolder bolder"> {{details.depositDetail.interestPayDates}}</span>
             <span ng-if="details.depositDetail.interestPayDates == null || details.depositDetail.interestPayDates === ''"
             class="pull-right bolder bolder"> N/A </span>
           </li>
           <li class="list-group-item">Closing Investment Date
             <span ng-if="details.depositDetail.closingDate != null" class="pull-right bolder"> {{details.depositDetail.closingDate}}</span>
             <span ng-if="details.depositDetail.closingDate == null || details.depositDetail.closingDate === ''"
             class="pull-right bolder"> N/A </span>
           </li>
         </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Available Services</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
           <li class="list-group-item">Income Option
             <span ng-if="details.depositDetail.incomeOption != null && details.depositDetail.incomeOption == false" class="pull-right bolder">No</span>
             <span ng-if="details.depositDetail.incomeOption != null && details.depositDetail.incomeOption == true" class="pull-right bolder">Yes</span>
             <span ng-if="details.depositDetail.incomeOption == null || details.depositDetail.incomeOption === ''"
             class="pull-right bolder"> N/A </span>
           </li>
           <li class="list-group-item">ATM Access
             <span ng-if="details.depositDetail.incomeOption != null && details.depositDetail.atmAccess == false" class="pull-right bolder">No</span>
             <span ng-if="details.depositDetail.incomeOption != null && details.depositDetail.atmAccess == true" class="pull-right bolder">Yes</span>
             <span ng-if="details.depositDetail.atmAccess == null || details.depositDetail.atmAccess === ''"
             class="pull-right bolder"> N/A </span>
           </li>
           <li class="list-group-item">Phone Access
             <span ng-if="details.depositDetail.incomeOption != null && details.depositDetail.phoneAccess == false" class="pull-right bolder">No</span>
             <span ng-if="details.depositDetail.incomeOption != null && details.depositDetail.phoneAccess == true" class="pull-right bolder">Yes</span>
             <span ng-if="details.depositDetail.phoneAccess == null || details.depositDetail.phoneAccess === ''"
             class="pull-right bolder"> N/A </span>
           </li>
           <li class="list-group-item">Branch Access
             <span ng-if="details.depositDetail.incomeOption != null && details.depositDetail.branchAccess == false" class="pull-right bolder">No</span>
             <span ng-if="details.depositDetail.incomeOption != null && details.depositDetail.branchAccess == true" class="pull-right bolder">Yes</span>
             <span ng-if="details.depositDetail.branchAccess == null || details.depositDetail.branchAccess === ''"
             class="pull-right bolder"> N/A </span>
           </li>
           <li class="list-group-item">Post Access
             <span ng-if="details.depositDetail.incomeOption != null && details.depositDetail.postAccess == false" class="pull-right bolder">No</span>
             <span ng-if="details.depositDetail.incomeOption != null && details.depositDetail.postAccess == true" class="pull-right bolder">Yes</span>
             <span ng-if="details.depositDetail.postAccess == null || details.depositDetail.postAccess === ''"
             class="pull-right bolder"> N/A </span>
           </li>
           <li class="list-group-item">Internet Access
             <span ng-if="details.depositDetail.incomeOption != null && details.depositDetail.internetAccess == false" class="pull-right bolder">No</span>
             <span ng-if="details.depositDetail.incomeOption != null && details.depositDetail.internetAccess == true" class="pull-right bolder">Yes</span>
             <span ng-if="details.depositDetail.internetAccess == null || details.depositDetail.internetAccess === ''"
             class="pull-right bolder"> N/A </span>
           </li>
           <li class="list-group-item">Regular Saving Option
             <span ng-if="details.depositDetail.incomeOption != null && details.depositDetail.regularSavinOption == false" class="pull-right bolder">No</span>
             <span ng-if="details.depositDetail.incomeOption != null && details.depositDetail.regularSavinOption == true" class="pull-right bolder">Yes</span>
             <span ng-if="details.depositDetail.regularSavinOption == null || details.depositDetail.regularSavinOption === ''"
             class="pull-right bolder"> N/A </span>
           </li>
           <li class="list-group-item">Regular Income Option
             <span ng-if="details.depositDetail.incomeOption != null && details.depositDetail.regularIncomeOption == false" class="pull-right bolder">No</span>
             <span ng-if="details.depositDetail.incomeOption != null && details.depositDetail.regularIncomeOption == true" class="pull-right bolder">Yes</span>
             <span ng-if="details.depositDetail.regularIncomeOption == null || details.depositDetail.regularIncomeOption === ''"
             class="pull-right bolder"> N/A </span>
           </li>
         </ul>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Additional Information</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
           <li class="list-group-item">Restrictions
             <span ng-if="details.depositDetail.restrictions != null" class="pull-right bolder"> {{details.depositDetail.restrictions}}</span>
             <span ng-if="details.depositDetail.restrictions == null ||
             details.depositDetail.restrictions === ''" class="pull-right bolder"> N/A </span>
           </li>
           <li class="list-group-item">Bonuses
             <span ng-if="details.depositDetail.bonuses != null" class="pull-right bolder"> {{details.depositDetail.bonuses}}</span>
             <span ng-if="details.depositDetail.bonuses == null ||
             details.depositDetail.bonuses === ''" class="pull-right bolder"> N/A </span>
           </li>
           <li class="list-group-item">Comments
             <span ng-if="details.depositDetail.comment != null" class="pull-right bolder"> {{details.depositDetail.comment}}</span>
             <span ng-if="details.depositDetail.comment == null ||
             details.depositDetail.comment === ''" class="pull-right bolder"> N/A </span>
           </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
