<div class="container">
  <div class="custom-alert hide">
    <div id="alert-top-mortgage" class="alert" role="alert">
      <span id="text-info"></span>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 panel panel-default">
      <div class="page-header">
        <h1>Mortgage <small>search</small></h1>
      </div>
      <form name="mortgageForm" novalidate ng-submit="sendAdvancedSearch()">
        <!-- Fist Row -->
        <div class="col-sm-12">
          <div class="form-group col-sm-5" show-errors>
            <input type="text" class="form-control input-operation"
            ng-model="inputPropertyPrice" ng-pattern="/^\-?\d+((\.|\,)\d+)?$/"
            name="inputPropertyPrice" placeholder="Property Price"
            ng-change="autoCalculate(inputPropertyPrice,2);" required/>
            <p class="help-block" ng-show="mortgageForm.inputPropertyPrice.$error.required">Property Price is required</p>
            <p class="help-block" ng-show="!mortgageForm.inputPropertyPrice.$error.required && mortgageForm.inputPropertyPrice.$error.pattern">Just allow natural numbers</p>
          </div>
          <div class="form-group col-sm-5" show-errors>
            <input type="text" class="form-control input-operation"
            ng-model="inputLoan" placeholder="Loan Amount" ng-pattern="/^\-?\d+((\.|\,)\d+)?$/"
            ng-change="autoCalculate(inputLoan,1);"
            name="inputLoan" lower-than="{{inputPropertyPrice}}" required/>
            <p class="help-block" ng-show="mortgageForm.inputLoan.$error.required">Loan Amount is required</p>
            <p class="help-block" ng-show="!mortgageForm.inputLoan.$error.required && mortgageForm.inputLoan.$error.pattern">Just allow natural numbers</p>
            <p class="help-block" ng-show="!mortgageForm.inputLoan.$error.required && !mortgageForm.inputLoan.$error.pattern && mortgageForm.inputLoan.$error.lowerThan">Must be lower than Property Price</p>
          </div>
          <div class="form-group col-sm-2" show-errors>
            <input type="text" class="form-control input-operation"
            ng-model="inputLTV" name="inputLTV" placeholder="LTV %" ng-pattern="/^\-?\d+((\.|\,)\d+)?$/"
            ng-change="autoCalculate(inputLTV,3);" lower-than="100" greater-than="1" required/>
            <p class="help-block" ng-show="mortgageForm.inputLTV.$error.required">Is required</p>
            <p class="help-block" ng-show="!mortgageForm.inputLTV.$error.required && mortgageForm.inputLTV.$error.pattern">Just numbers</p>
            <p class="help-block" ng-show="!mortgageForm.inputLTV.$error.required && !mortgageForm.inputLTV.$error.pattern && mortgageForm.inputLTV.$error.lowerThan">Not > 100%</p>
            <p class="help-block" ng-show="!mortgageForm.inputLTV.$error.required && !mortgageForm.inputLTV.$error.pattern && mortgageForm.inputLTV.$error.greaterThan">Not < 1%</p>
          </div>
        </div>
        <!-- Second Row -->
        <div class="col-sm-12">
          <div class="col-md-5 form-group">
            <label>Loan Type</label>
            <select id="loanType" class="form-control" ng-model="PropertyType">
              <option value=""> Select loan</option>
              <option ng-repeat="item in propertyTypes | orderBy:'propertyType'"
                    value="{{item.propertyTypeId}}">{{item.propertyType}}</option>
            </select>
          </div>
          <div class="col-md-5 form-group">
            <label>Buyer Type</label>
            <select id="buyType" class="form-control" ng-model="BuyerType">
              <option value=""> Select buyer</option>
              <option ng-repeat="item in buyerTypes | orderBy:'buyerType'"
                    value="{{item.buyerTypeId}}">{{item.buyerType}}</option>
            </select>
          </div>
          <div class="col-md-2 form-group" show-errors data-date-format="yyyy-mm-dd">
            <label for="start-date">Start Date</label>
            <input id="start-date" type="text" class="form-control datepicker" name="startDate"
            ng-model="StartDate" placeholder="mm/yyyy" required/>
            <p class="help-block" ng-show="mortgageForm.startDate.$error.required">Is required</p>
          </div>
        </div>
        <!-- Third Row -->
        <div class="col-md-12">
          <div class="col-md-5 form-group">
            <label>Business Type</label>
            <select id="businType" class="form-control" ng-model="BusinessType">
              <option value=""> Select buyer</option>
              <option ng-repeat="item in businessTypes"
                    value="{{item.businessTypeId}}">{{item.businessTypeName}}</option>
            </select>
          </div>
          <div class="col-md-5 form-group">
            <label>Term</label>
            <select id="term" class="form-control" ng-model="Term">
              <option value=""> Select buyer</option>
              <option ng-repeat="item in terms"
                    value="{{item.id}}">{{item.name}}</option>
            </select>
          </div>
          <div class="col-md-2 form-group">
          </div>
        </div>
        <!-- Fourth Row -->
        <div class="col-md-12">
          <div class="col-md-4 col-md-offset-8 form-group btn-search">
            <div class="btn-group" role="group">
              <a ng-click="showAdvSearch()" class="i-search btn btn-default">
                <i class="glyphicon glyphicon-eye-open"></i> Advanced</a>
              <button id="btn-send-mortgage" type="submit" class="btn btn-primary" ng-model="Sender" ng-disabled="mortgageForm.$invalid">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;Search</button>
            </div>
          </div>
        </div>
        <!-- Advanced Search Row -->
        <div id="advanced-search" class="hide col-md-12">
          <hr class="col-sm-10">
          <div class="row">
            <div class="col-md-4 form-group">
              <label>Mortgage Provider</label>
              <select ng-model="BankCompany"
                      ng-options="item as item.mortgageProvider for item in bankCompanies | orderBy:'mortgageProvider'"
                      multiple>
              </select>
            </div>
            <div class="col-md-4 form-group">
              <label>Mortgage Type</label>
              <select ng-model="MortgageType"
                      ng-options="item as item.mortgageType for item in mortgageTypes | orderBy:'mortgageType'"
                      multiple>
              </select>
            </div>
            <div class="col-md-4 form-group">
              <label>Fixed/Discounted Period</label>
              <select ng-model="FixedPeriod"
                      ng-options="item as item.text for item in fixedPeriods | orderBy:'text'"
                      multiple>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-md-offset-4 form-group">
              <label>Report Options</label>
              <select ng-model="ReportOptions"
                      ng-options="item as item.name for item in reportOptions | orderBy:'name'"
                      multiple>
              </select>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div id="loading"></div>
</div>
<div ng-show="listResult" ng-include="'/app/components/mortgage/results.html'"></div>
